<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongren.mapper.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.tongren.pojo.Doctor" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="salary_num" property="salaryNum" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectSurgeonAndHelper" resultMap="BaseResultMap">
    select * from doctor
    where level like '%医师%'
    or level like '%研究生%'
  </select>
</mapper>