<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongren.mapper.RecordSurgeryMapper" >
  <resultMap id="BaseResultMap" type="com.tongren.pojo.RecordSurgery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="surgery_id" property="surgeryId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="RecordSurgeryExtend" type="com.tongren.pojo.RecordSurgeryExtend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="surgery_id" property="surgeryId" jdbcType="INTEGER" />
    <result column="surgery_name" property="surgeryName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByRecordId" resultMap="RecordSurgeryExtend" parameterType="java.lang.Integer">
    select record_surgery.*,
           surgery.name as surgery_name
    from record_surgery
    left join surgery
    on record_surgery.surgery_id = surgery.id
    where record_id = #{recordId}
  </select>
</mapper>