<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongren.mapper.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.tongren.pojo.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="history_num" property="historyNum" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="eye" property="eye" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
  </resultMap>

  <resultMap id="RecordExtend" type="com.tongren.pojo.RecordExtend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="history_num" property="historyNum" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="eye" property="eye" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="surgeries" property="surgeries" jdbcType="VARCHAR" />
    <result column="surgeons" property="surgeons" jdbcType="VARCHAR" />
    <result column="helpers" property="helpers" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
  </resultMap>

  <resultMap id="RecordExtend1" type="com.tongren.pojo.RecordExtend1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="history_num" property="historyNum" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="eye" property="eye" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="doctor_score" property="doctorScore" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectByFiltersForAdmin" resultMap="RecordExtend" parameterType="map">
    select record.*,
           surgery_tmp.info as surgeries,
           surgeon_tmp.info as surgeons,
           helper_tmp.info  as helpers
    from record

    left join
    (select record_id, group_concat(concat(name, ' / ', surgery.level, ' / ', price, ' 元')) as info from record_surgery
    left join surgery
    on record_surgery.surgery_id = surgery.id
    group by record_id) as surgery_tmp
    on surgery_tmp.record_id = record.id

    left join
    (select record_id, group_concat(concat(name, ' / ',record_doctor.doctor_level, ' / ', doctor_score, ' 分')) as info from record_doctor
    left join doctor
    on record_doctor.doctor_id = doctor.id
    where doctor_type = '术者'
    group by record_id) as surgeon_tmp
    on surgeon_tmp.record_id = record.id

    left join
    (select record_id, group_concat(concat(name, ' / ',record_doctor.doctor_level, ' / ', doctor_score, ' 分')) as info from record_doctor
    left join doctor
    on record_doctor.doctor_id = doctor.id
    where doctor_type = '助手'
    group by record_id) as helper_tmp
    on helper_tmp.record_id = record.id

    <where>

      <if test="historyNum != null and historyNum != ''">
        history_num like concat('%', #{historyNum}, '%')
      </if>

      <if test="patientName != null and patientName != ''">
        and name like concat('%', #{patientName}, '%')
      </if>

      <if test="place != null and place != ''">
        and place like concat('%', #{place}, '%')
      </if>

      <if test="beginTime != null and endTime != null">
        and date between #{beginTime} and #{endTime}
      </if>

      <if test="surgeryName != null and surgeryName != ''">
        and surgery_tmp.info like concat('%', #{surgeryName}, '%')
      </if>

      <if test="surgeonName != null and surgeonName != ''">
        and surgeon_tmp.info like concat('%', #{surgeonName}, '%')
      </if>

      <if test="helperName != null and helperName != ''">
        and helper_tmp.info like concat('%', #{helperName}, '%')
      </if>

    </where>

    order by date desc
  </select>

  <select id="selectByFiltersForOthers" resultMap="RecordExtend" parameterType="map">
    select record.*,
    surgery_tmp.info as surgeries,
    surgeon_tmp.info as surgeons,
    helper_tmp.info  as helpers
    from record

    left join
    (select record_id, group_concat(concat(name, ' / ', surgery.level, ' / ', price, ' 元')) as info from record_surgery
    left join surgery
    on record_surgery.surgery_id = surgery.id
    group by record_id) as surgery_tmp
    on surgery_tmp.record_id = record.id

    left join
    (select record_id, group_concat(concat(name)) as info from record_doctor
    left join doctor
    on record_doctor.doctor_id = doctor.id
    where doctor_type = '术者'
    group by record_id) as surgeon_tmp
    on surgeon_tmp.record_id = record.id

    left join
    (select record_id, group_concat(concat(name)) as info from record_doctor
    left join doctor
    on record_doctor.doctor_id = doctor.id
    where doctor_type = '助手'
    group by record_id) as helper_tmp
    on helper_tmp.record_id = record.id

    <where>

      <if test="historyNum != null and historyNum != ''">
        history_num like concat('%', #{historyNum}, '%')
      </if>

      <if test="patientName != null and patientName != ''">
        and name like concat('%', #{patientName}, '%')
      </if>

      <if test="place != null and place != ''">
        and place like concat('%', #{place}, '%')
      </if>

      <if test="beginTime != null and endTime != null">
        and date between #{beginTime} and #{endTime}
      </if>

      <if test="surgeryName != null and surgeryName != ''">
        and surgery_tmp.info like concat('%', #{surgeryName}, '%')
      </if>

      <if test="surgeonName != null and surgeonName != ''">
        and surgeon_tmp.info like concat('%', #{surgeonName}, '%')
      </if>

      <if test="helperName != null and helperName != ''">
        and helper_tmp.info like concat('%', #{helperName}, '%')
      </if>

    </where>

    order by date desc
  </select>

  <select id="selectDetailByFiltersForAdmin" resultMap="RecordExtend1" parameterType="map">
    select record.*,
           doctor_score
    from record
    left join record_doctor
    on record.id = record_doctor.record_id
    <where>

      <if test="doctorId != null">
        doctor_id = #{doctorId}
      </if>

      <if test="historyNum != null and historyNum != ''">
        and record.history_num like concat('%', #{historyNum}, '%')
      </if>

      <if test="patientName != null and patientName != ''">
        and record.name like concat('%', #{patientName}, '%')
      </if>

      <if test="place != null and place != ''">
        and record.place like concat('%', #{place}, '%')
      </if>

      <if test="beginTime != null and endTime != null">
        and record.date between #{beginTime} and #{endTime}
      </if>

    </where>
  </select>

  <select id="selectDetailByFiltersForOthers" resultMap="RecordExtend1" parameterType="map">
    select record.*
    from record
    left join record_doctor
    on record.id = record_doctor.record_id
    <where>

      <if test="doctorId != null">
        doctor_id = #{doctorId}
      </if>

      <if test="historyNum != null and historyNum != ''">
        and record.history_num like concat('%', #{historyNum}, '%')
      </if>

      <if test="patientName != null and patientName != ''">
        and record.name like concat('%', #{patientName}, '%')
      </if>

      <if test="place != null and place != ''">
        and record.place like concat('%', #{place}, '%')
      </if>

      <if test="beginTime != null and endTime != null">
        and record.date between #{beginTime} and #{endTime}
      </if>

    </where>
  </select>

  <select id="selectTotalScore" resultType="java.lang.Integer" parameterType="map">
    select SUM(doctor_score)
    from record
    left join record_doctor
    on record.id = record_doctor.record_id
    <where>

      <if test="doctorId != null">
        doctor_id = #{doctorId}
      </if>

      <if test="historyNum != null and historyNum != ''">
        and record.history_num like concat('%', #{historyNum}, '%')
      </if>

      <if test="patientName != null and patientName != ''">
        and record.name like concat('%', #{patientName}, '%')
      </if>

      <if test="place != null and place != ''">
        and record.place like concat('%', #{place}, '%')
      </if>

      <if test="beginTime != null and endTime != null">
        and record.date between #{beginTime} and #{endTime}
      </if>

    </where>
  </select>

</mapper>